{% extends "base.html" %}

{% block content %}
	<h3>Manhã</h3>
	<div>
		<h4><a href="/palestras/1/">10:00 - Título da palestra</a></h4>
		<h5><a href="/palestrantes/regis-da-silva/" title="Software developer.">Regis da Silva</a></h5>
		<p>Descrição da palestra</p>
	</div>
	<h3>Tarde</h3>
	<div>
		<h4><a href="/palestras/2/">13:00 - Título da palestra</a></h4>
		<h5><a href="/palestrantes/regis-da-silva/" title="Software developer.">Regis da Silva</a></h5>
		<p>Descrição da palestra</p>
	</div>
{% endblock content %}