{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>Formulário de inscrição</h1>
		<form class="form-horizontal" action="." method="POST">
			{% csrf_token %}
			<p>
				<label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
				{{ form.name }}
				{{ form.name.errors }}
			</p>
			<p>
				<label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}:</label>
				{{ form.cpf }}
				{{ form.cpf.errors }}
			</p>
			<p>
				<label for="{{ form.email.id_for_label }}il">{{ form.email.label }}:</label>
				{{ form.email }}
				{{ form.email.errors }}
			</p>
			<p>
				<label for="{{ form.phone.id_for_label }}ne">{{ form.phone.label }}:</label>
				{{ form.phone }}
				{{ form.phone.errors }}
			</p>
			<div class="col-md-offset-1">
				<button class="btn btn-lg">Enviar!</button>
			</div>
		</form>
	</div>
{% endblock content %}