<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/background.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.gif">
    <style type="text/css">

    /* GLOBAL STYLES
    -------------------------------------------------- */
     Padding below the footer and lighter body text 

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }
    </style>

    {% block title %}
      <title>EventeX</title>    
    {% endblock %}

  </head>

  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/logowhite.png" height="18px"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'tpl' 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'tpl' 'contato' %}">Contato</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <br>
    <br>
    <br>
    <br>


    {% block content %}
      
    {% endblock %}

    


      <!-- START THE FEATURETTES -->


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right">
          <a href="#">Voltar ao topo</a>
        </p>
        <p><a href="http://welcometothedjango.com.br/" target="_blank">wttd &copy; 2014</a> &middot; all rights reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> <a href="http://www.djangoproject.com/" id="django" target="_blank"><img src="http://nedbatchelder.com/pix/django-icon-256.png" border="0" alt="A Django site." title="A Django site." height="20px" /></a> <a href="https://github.com/rg3915/wttd" target="_blank"><img src="http://mokrzu.github.io/iconmonstr-github-6-icon.png" height="25px"></a></p>
      </footer>

    



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>
