{% extends 'base.html' %}

{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron-background">
      <div class="container">
        <h2>Bem-vindo ao EventeX!</h2>
        <p>O evento mais esperado do ano!</p>
        <p><b>Inscrições abertas.</b></p>
        <br>
        <br>
        <button type="button" class="btn btn-lg">
          <span class="glyphicon glyphicon-music"></span><a href="{% url 'subscriptions:subscribe' %}"> Inscreva-se já!</a>
        </button>
      </div>
    </div>
{% endblock %}