{% extends 'base.html' %}

{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron-background">
      <div class="container">
        <h2>Bem-vindo ao EventeX!</h2>
        <p>O evento mais esperado do ano!</p>
        <p><b>Inscrições a partir do próximo Domingo.</b></p>
        <p>Para mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
        <button type="button" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-music"></span> Inscrições em breve
        </button>
      </div>
    </div>
{% endblock %}